.closed{
    display: none;
}
.open{
    display: block;
}

button{
    width: 150px;
    background-color: aquamarine;
    margin-left: 15px;
    font-size: 120%;
}

#demo{
    color: antiquewhite;
    background-color: chocolate;
    padding: 10px;
    font-size: 120%;
}